@{
    ViewData["Title"] = "Home Page";
}

<!----<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>-->

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/MainPage.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>DIS Project</title>
    <style>
        .first {
            background-image: url("/css/fbi1.jpeg");
        }
        
    </style>
</head>
<body class="body">
    <!----<div class="topnav">

        <div class="topnav-centered">
            <a href="#home" class="active">Home</a>
        </div>

        <a href="SRS.html">Summary Reporting System</a>
        <a href="PED.html">Police Employee data</a>

        <div class="topnav-right">
            <a href="About Us.html">About us</a>
        </div>
    </div>-->

    <div class="first">
        <div class="firstContent">
            <h2>Federal Bureau of Investigation Agency Data Explorer</h2>
            <p>The FBI's Crime Agency Explorer (CAE) aims to provide transparency, <br><p> create easier access, and expand awareness of criminal, and noncriminal,<br /> law enforcement data sharing; improve accountability for <br />law enforcement and provide a foundation to help shape public policy.</p>
        </div>
    </div>
    <div class="second">
        <div class="secondContent">
            <h2>Summary Reporting System</h2>
            <p>No criminal can escape</p>
        </div>
    </div>
    <div class="third">
        <div class="thirdContent">
            <h2>Police Employee Data</h2>
            <h4>Recruit | Save | Repeat</h4>
        </div>
    </div>
</body>
</html>