@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>About us</title>


    <style>
        * {
            box-sizing: border-box;
        }

        .row {
            display: flex;
        }

        /* Create three equal columns next to each other */
        .column {
            flex: 25%;
            padding: 5px;
            color: white;
        }

        .body {
            background-color: black;
        }

        .aboutus {
            color: white;
        }
    </style>


</head>

<body class="body">
    <!-- <body style="background-color: black;"></body> -->
    <div class="">
        <a href="index.html" style="font-size:30px;color:white">Back to Home</a>
    </div>
    <div class="aboutus">
        <h1 style="text-align:center">About Us</h1>
        <!--<p> Intro content for the website in few lines Intro content for the website in few linesIntro content for the website in few linesvIntro content for the website in few linesIntro content for the website in few linesIntro content for the website in few linesIntro content for the website in few linesIntro content for the website in few linesIntro content for the website in few linesIntro content for the website in few linesIntro content for the website in few lines</p>
        -->
        <hr>

    </div>

    <div class="row">

        <div class="column" name="team member1">
            <!-- style="width:200px;height:280px;" -->
            <!-- style="width:100%"  -->
            <img src="~/css/Aneesh.jpg" alt="Picture of Aneesh" style="width:320px;height:350px;">
            <h3> Aneesh prayaga</h3>
            <p>Aneesh is a MS BAIS student and he's in summer semester . He's Passionate about Swimming and Outdoor sports.</p>
        </div>

        <div class="column">
            <img src="~/css/Amulya Image.jpg" alt="Picture of Amulya" style="width:320px;height:350px;">
            <h3> Amulya Alwala</h3>
            <p>Amulya is a graduate student at USF, with prior experience as a business analyst and software engineer.</p>
        </div>

        <div class="column">
            <img src="~/css/phani edit1.jpg" alt="Picture of Raj phanindra" style="width:320px;height:350px;">
            <h3> Raj Phanindra kakarla</h3>
            <p>A graduate student with 2+ years of professional experience, Raj has technical expertise in full stack web application development using Java and Java script.</p>
        </div>
        <div class="column">
            <img src="~/css/karna.png" alt="Picture of Karna Harsha Reddy" style="width:320px;height:350px;">
            <h3> Karna Harsha</h3>
            <p> Karna is a MS BAIS student and he's in summer semester</p>
        </div>

    </div>


</body>
</html>

<!-- style="border: thin solid black" -->